---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export function getStaticPaths() {
  return [
    {params: {lang: 'en'}},
    {params: {lang: 'pl'}},
  ];
}
const languages = ['en', 'pl'];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header id="header" class="header fixed-top header-scrolled">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

      <a
        href={`/${lang}/`}
        class="logo d-flex align-items-center navbar-brand"
      >
        <img width="140" src="/img/logo_140x50.webp" alt="website Software Logo" />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a 
              class={currentPath === "" ? "nav-link active" : "nav-link"}
              href={`/${lang}/`}>
              {t('common.btn_software')}</a>
          </li>
          <li class="nav-item">
            <a
              class={currentPath === "ceny-transferowe" ? "nav-link active" : "nav-link"} 
              href={`/${lang}/ceny-transferowe`}>
              {t('common.btn_tp')}</a>
          </li>
          <li class="nav-item">
            <a 
              class={currentPath === "pozyskiwanie-danych" ? "nav-link active" : "nav-link"}
              href={`/${lang}/pozyskiwanie-danych`}>
              {t('common.btn_scraping')}</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-md-auto">
          <li class="nav-item">
            <select class="form-select" aria-label="Default select example">
              {languages.map((optionLang) => (
                <option
                  value={optionLang}
                  selected={lang === optionLang}
                  class="lang-option"
                  >{t(`common.${optionLang}`)}
                </option>
              ))}
            </select>
          </li>

          <li class="nav-item">
            <a class="navbar getstarted" href="#footer">{t('common.contact')}</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <!-- Navbar JS script -->
  <script is:inline>
    function handleLangChange(e) {
      const currLang = window.location.pathname.split('/')[1];
      window.location.replace(
        window.location.pathname.replace(
          `/${currLang}/`,
          `/${e.target.value}/`)
      );
    }
    document.querySelectorAll('option.lang-option').forEach((elem) => {
      elem.addEventListener('click', handleLangChange, false);
    })
  </script>
  <script src="/js/header.js" is:inline></script>
</header>
